<%- include('../partials/header.ejs') %>
<%- include('../partials/main_nav.ejs') %>
<main>
    <div class="jumbotron jumbotron-fluid flex-shrink-0 py-5">
        <div class="container">

            <form class="form" method="post" >
    
                <h1 class="text-light">Edit Incident</h1><br>
                
                <div class="form-group">
                    <input class="form-control" placeholder="Customer Name" type="text" name="customer" id="customerTextField" value="<%= incident.customer%>" required>
                    <label class="visually-hidden" for="customerTextField">Customer Name</label>
                </div>
                
                <div class="form-group">
                    <input class="form-control" placeholder="Date of Incident" type="date" name="date" id="dateTextField" value="<%= incident.date%>" required>
                    <label class="visually-hidden" for="dateTextField">Date of Incident</label>
                </div>
                
                <div class="form-group">
                    <input class="form-control" placeholder="Time of Incident" type="text" name="time" id="timeTextField" value="<%= incident.time%>" required>
                    <label class="visually-hidden" for="timeTextField">Time of Incident</label>
                </div>
                
                <div class="form-group">
                    <input class="form-control" placeholder="Incident Location" type="text" name="location" id="locationTextField" value="<%= incident.location%>" required>
                    <label class="visually-hidden" for="locationTextField">Location of Incident</label>
                </div>
    
                <div class="form-group">
                    <input class="form-control" placeholder="Name of Reporter" type="text" name="reporter" id="reporterTextField" value="<%= incident.reporter%>" required>
                    <label class="visually-hidden" for="reporterTextField">Reported By</label>
                </div>
                
                <div class="form-group">
                    <textarea class="form-control" placeholder="Description" type="text" name="description" id="descriptionTextField" required><%= incident.description%></textarea>
                    <label class="visually-hidden" for="descriptionTextField">Incident Description</label>
                </div>
                
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i>Submit
                </button>
            
                <a href="/incident-list" class="btn btn-danger">
                    <i class="fas fa-undo"></i>Cancel
                </a>
                
            </form>
    
        </div>
    </div>
    
</main>


<%- include ('../partials/bottom_nav.ejs') %>
<%- include ('../partials/footer.ejs') %>