<%- include('../partials/header.ejs') %>
<%- include('../partials/main_nav.ejs') %>

<!-- Main Content -->
<main>
    <div class="jumbotron jumbotron-fluid flex-shrink-0 py-5 text-light">

        <!-- DISPLAYS "incidents" COLLECTION -->
        <div class="container bg-dark border rounded border-0 p-4 p-md-5 bg-opacity-100 overflow-hidden">

            <h1 class="mb-4"><%= title %></h1>

            <% if (typeof displayName == 'string' && displayName) { %>
                <a href="/incident-list/add" class="btn btn-success btn-lg mb-4" role="button">Add Incident</a>
            <% } %>

            <div class="table-responsive">

                <table class="table table-hover table-dark">
                    <thead class="text-center">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                            <th scope="col">Location</th>
                            <th scope="col">Reported By</th>
                            <th scope="col">Description</th>
                            <% if (typeof displayName == 'string' && displayName) { %>
                                <td scope="col" id="editHeader"><i class = "fas fa-pencil-alt"></i></td>
                                <td scope="col" id="deleteHeader"><i class = "fas fa-trash-alt"></i></td>
                            <% } %>
                        </tr>
                    </thead>

                    <tbody class="text-center align-middle">

                        <!-- loops through incident collection, displaying each document -->
                        <% for(let count=0; count < incidentsList.length; count++) { %>
                        <tr>
                            <!-- display column number -->
                            <td scope="col"><%= count+1 %></th>
                            <!-- display incident documents -->
                            <td scope="col"><%= incidentsList[count].customer %></td>
                            <td scope="col"><%= incidentsList[count].date %></td>
                            <td scope="col"><%= incidentsList[count].time %></td>
                            <td scope="col"><%= incidentsList[count].location %></td>
                            <td scope="col"><%= incidentsList[count].reporter %></td>
                            <td scope="col"><%= incidentsList[count].description %></td>

                            <!-- if not logged in edit and delete operations will not appear -->
                            <% if (typeof displayName == 'string' && displayName) { %>
                                <!-- Edit and Delete buttons used for delete and edit operations -->
                                <td scope="col"><a href="/incident-list/edit/<%= incidentsList[count]._id %>" class="btn btn-primary" role="button">Edit</a></td>
                                <td scope="col"><a href="/incident-list/delete/<%= incidentsList[count]._id %>" class="btn btn-danger" role="button">Delete</a></td>   
                            <% } %>
                        </tr>
                        <% } %>

                    </tbody>

                </table>
            </div>

        </div>
    </div>
</main>
<%- include ('../partials/bottom_nav.ejs') %>
<%- include ('../partials/footer.ejs') %>