<%- include('../partials/header.ejs') %>
<%- include('../partials/main_nav.ejs') %>

<main class="container text-light">

    <!-- Message Area -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger" role="alert">
            <%- message %>
        </div>
    <% } %>

    <div class="row">
        <div class="offset-md-4 col-md-4">
            <h1 class>Login</h1>
            <form method="POST" autocomplete="off">
                
                <fieldset class="form-group">
                    <label for="username"></label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username" required autofocus>
                </fieldset>

                <fieldset class="form-group">
                    <label for="password"></label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" required> 
                </fieldset>
                
                <div class="my-2">
                    Don't have an account? <a href="register">Register Here</a>
                </div>

                <fieldset class="form-group d-flex flex-column">
                    <input type="submit" class="btn btn-primary" value="Login"></input>
                </fieldset>

            </form>
            <hr>OR<br>
            <div class="d-flex flex-row align-items-center align-self-stretch ">
                <a class="btn" role="button" href="/auth/github" id="GithubLogin"><i class="fa-brands fa-github"></i> <b>GitHub</b></a>
                <a class="btn" role="button" href="/auth/github" id="GoogleLogin"><i class="fa-brands fa-google"></i> <b>Google</b></a>
                <a class="btn" role="button" href="/auth/github" id="FacebookLogin"><i class="fa-brands fa-facebook"></i> <b>Facebook</b></a>
            </div>
        </div>
    </div>

</main>

<%- include ('../partials/bottom_nav.ejs') %>
<%- include ('../partials/footer.ejs') %>