<%- include('../partials/header.ejs') %>
<%- include('../partials/main_nav.ejs') %>

<main class="container text-light bg-dark">

    <!-- Message Area -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger" role="alert">
            <%- message %>
        </div>
    <% } %>

    <div class="row">
        <div class="offset-md-4 col-md-4">
            <h1>Register</h1>
            <form method="POST" autocomplete="off">

                <fieldset class="form-group">
                    <label for="username"></label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username" required autofocus>
                </fieldset>

                <fieldset class="form-group">
                    <label for="password"></label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" required>
                </fieldset>

                <!-- email fieldset -->
                <fieldset class="form-group">
                    <label for="email"></label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email Address" required>
                </fieldset>

                <!-- display name fieldset -->
                <fieldset class="form-group">
                    <label for="displayName"></label>
                    <input type="text" class="form-control" id="displayName" name="displayName" placeholder="Enter Display Name" required>
                </fieldset>

                <fieldset class="form-group d-flex flex-column mt-4">
                    <input type="submit" class="btn btn-primary" value="Register"></input>
                </fieldset>

            </form>
        </div>
    </div>

</main>

<%- include ('../partials/bottom_nav.ejs') %>
<%- include ('../partials/footer.ejs') %>